@import '../color/colors.less';

@cow-theme-tag: body; // css 变量定义的选择器

@cow-vars-prefix: ~'cdu'; // css 变量的前缀

// css 变量前缀
@cow-css-vars-prefix: if(@cow-vars-prefix = ~'', ~'-', ~'--@{cow-vars-prefix}');

/** radius */
@radius-none: 0;
@radius-small: 2px;
@radius-medium: 4px;
@radius-large: 8px;
@radius-circle: 50%;


/** size */
@size-0: 0;
@size-1: 4px;
@size-2: 8px;
@size-3: 12px;
@size-4: 16px;
@size-5: 20px;
@size-6: 24px;
@size-7: 28px;
@size-8: 32px;
@size-9: 36px;
@size-10: 40px;
@size-11: 44px;
@size-12: 48px;
@size-13: 52px;
@size-14: 56px;
@size-15: 60px;
@size-16: 64px;
@size-17: 68px;
@size-18: 72px;
@size-19: 76px;
@size-20: 80px;

/******** opacity *******/

@opacity-none: 0;
@opacity-1: 10%;
@opacity-2: 20%;
@opacity-3: 30%;
@opacity-4: 40%;
@opacity-5: 50%;
@opacity-6: 60%;
@opacity-7: 70%;
@opacity-8: 80%;
@opacity-9: 90%;
@opacity-10: 100%;

